{% extends "layout.html" %}

{% block navitems %}
{% include "navbar.html" %}
{% endblock %}

{% block content %}
<table class="table table borderless">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Tyyppi</th>
      <th scope="col">Rakennusvuosi</th>
      <th scope="col">Omistajat</th>
      <th scope="col">Ylläpitäjä</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% if current_boat %}
        <th>{{ current_boat.name }}</td>
        <td>{{ current_boat.type }}</td>
        <td>{{ current_boat.year }}</td>
        <td>
          {% for owner in owners %} 
            {{ owner.first_name }} {{ owner.last_name }} </br> 
          {% endfor %}
        </td>
        <td>
          {% for owner in owners %} 
            {% if owner.boat_admin == True %} 
              X
            {% endif %} 
            </br> 
          {% endfor %}
        </td>
        <td>
          {% if is_admin %}
            <a href="/manageboat/{{ current_boat.id }}" class="btn btn-primary" role="button">Muokkaa</a>
          {% endif %} 
        </td>
      {% endif %}
    </tr>
  </tbody>
</table>

<div class="accordion" id="accordionBoats">  
  
  <div class="accordion-item">
    <h2 class="accordion-header" id="chooseBoat">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Valitse vene
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="chooseBoat" data-bs-parent="#accordionBoats">
      <div class="accordion-body">
        {% for boat in user_boats%}
          <form action="/chooseboat" method="POST">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">  
            <div class="form-group col-6">
              <input type="text" class="form-control" name="boat_id" id="boat_id" value={{ boat.id }} hidden>
              <input type="text" class="form-control" name="boat_name" id="boat_name" value="{{ boat.name }}" hidden>   
              <button type="submit" class="btn btn-primary">Valitse</button>
              {{ boat.name }}
            </div>
          </form>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="addBoat">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Lisää uusi vene
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="addBoat" data-bs-parent="#accordionBoats">
      <div class="accordion-body">
        <form action="/addboat" method="POST">
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">  
          <div class="form-group col-6">
            <label for="boat_name">Veneen nimi</label>        
            <input type="text" class="form-control" name="boat_name" id="boat_name" required>
          </div>
          <div class="form-group col-6">
            <label for="boat_type">Veneen tyyppi</label>        
            <input type="text" class="form-control" name="boat_type" id="boat_type" required>
          </div>
          <div class="form-group col-6">
            <label for="boat_year">Rakennusvuosi</label>        
            <input type="number" class="form-control" name="boat_year" id="boat_year" required>
          </div>
          <div class="form-group col-6">
            <label for="boat_description">Kuvaus</label>        
            <textarea class="form-control" rows="3" name="boat_description" id="boat_description"></textarea>
            <p>
              <span id="charCount">0</span>/300 merkkiä
            </p>  
            <script 
              src="../static/js/charCount.js" 
              textField="boat_description" 
              charCount="charCount" 
              max="300">
            </script>
          </div>
          <div class="form-group col-6">
            <button type="submit" class="btn btn-primary">Lisää vene</button>
          </div>
        </form>     
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="joinBoat">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Liity veneeseen
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="joinBoat" data-bs-parent="#accordionBoats">
      <div class="accordion-body">
        <form action="/joinboat" method="POST">
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">  
          <div class="form-group col-6">
            <label for="boat_name">Veneen avainkoodi</label>        
            <input type="text" class="form-control" name="boat_key" id="boat_key">
          </div>
          <div class="form-group col-6">
            <button type="submit" class="btn btn-primary">Liity veneeseen</button>
          </div>  
        </form>
      </div>
    </div>
  </div>

</div>
{% endblock %}


