{% extends "layout.html" %}

{% block navitems %}
  {% include "navbar.html"%}
{% endblock %}

{% block content %}
<div class="form-group col-4">
    <form action="/" method="GET">
        <label for="years">Vuosi</label>        
        <select class="form-select" name="year" onchange="this.form.submit()" required>
            <option selected>Valitse vuosi </option>
            {% for y in years %}
                <option value="{{ y }}">{{ y }}</option>
            {% endfor %}
        </select>
    </form>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <canvas id="myChart1" width="50" height="50"></canvas>
        <script>
            var fillCol = []
            var borderCol = []
            var ctx = document.getElementById('myChart1');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{% for item in labels_usage %} '{{ item }}', {% endfor %}],
                    datasets: [{       
                        label: 'Käyttö',
                        data: [{% for item in data_usage_sailing%} '{{ item }}', {% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                        ],
                        borderWidth: 1
                    },
{       
                        label: 'Talkoo',
                        data: [{% for item in data_usage_maintenance%} '{{ item }}', {% endfor %}],
                        backgroundColor: [
                            'rgba(54, 162, 235, 0.2)',
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                        ],
                        borderWidth: 1
                    },

                    
                    ]
                },
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: '{{ label_usage }}'
                        },
                    },
                    scales: {
                        x: {
                            stacked: false
                        },
                        y: {
                            beginAtZero: true,
                            suggestedMax: 200
                        },
                    legend: {
                        display: false,
                    }
                    
                    }
                }
            });


        </script>
    </div>
    <div class="col-6">
        <canvas id="myChart2" width="50" height="50"></canvas>
                <script>
            var ctx = document.getElementById('myChart2');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{% for item in labels_usage_right %} '{{ item }}', {% endfor %}],
                    datasets: [{
                        label: '{{ label_usage_right }}',
                        data: [{% for value in data_usage_right %} {{ value }}, {% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: '{{ label_usage_right }}'
                        }
                    },
                    scales: {
                        x: {
                            stacked: true
                        },
                        y: {
                            beginAtZero: true,
                            suggestedMax: 300
                        },
                    legend: {
                        display: false,
                    },
                    }
                }
            });
        </script>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <canvas id="myChart3" width="50" height="50"></canvas>
        <script>
            var ctx = document.getElementById('myChart3');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{% for item in labels_cost %} '{{ item }}', {% endfor %}],
                    datasets: [{
                        label: '{{ label_cost }}',
                        data: [{% for value in data_cost %} {{ value }}, {% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: '{{ label_cost }}'
                        },
                    },
                    scales: {
                        y: {
                            beginAtZero: true,
                            suggestedMax: 500
                        },
                    legend: {
                        display: false,
                    }
                    
                    }
                }
            });
        </script>
    </div>
    <div class="col-6">
        <canvas id="myChart4" width="50" height="50"></canvas>
        <script>
            var ctx = document.getElementById('myChart4');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{% for item in labels_cost_owner %} '{{ item }}', {% endfor %}],
                    datasets: [{
                        label: '{{ label_cost_owner }}',
                        data: [{% for value in data_cost_owner %} {{ value }}, {% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: '{{ label_cost_owner }}'
                        },
                    },
                    scales: {
                        x: {
                            stacked: true
                        },
                        y: {
                            beginAtZero: true,
                            suggestedMax: 500
                        },
                    legend: {
                        display: false,
                    }
                    
                    }
                }
            });
        </script>
    </div>
  </div>
</div>

{% endblock %}