<!doctype html>
<html lang="fi">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <title>Kimppavene</title>
  </head>
  
  <body>
    <div class="container px-8">
      <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="/static/images/KV-logo.png" alt="Kimppavene" width="40" height="60" class="d-inline-block align-text-top">
        </a>
        <ul class="navbar-nav">
          {% block navitems %}{% endblock %}
        </ul>
      </nav>
    </div>  
    
    <div class="container px-8">
      <div class="col-6">
      {% if session.user %}
          {{ session.user.first_name }} {{ session.user.last_name }}
          <!-- A logged in user will see their name and the current boat, session boat feature not yet added -->
          {% if session.boat %}
          / {{ session.boat.name }}
          {% endif %}
      {% endif %}
      </div>
      
      {% if alert_message %}
      <div class="alert alert-primary">
        {{ alert_message }}
      </div>
      {% endif %}
      {% if success_message %}
      <div class="alert alert-success">
        {{ success_message }}
      </div>
      {% endif %}
      <div class="col-8">
        {% block content %}{% endblock %}
      </div>   
  </div>
    
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>