{% extends "layout.html" %}

{% block navitems %}
  {% include "navbar.html"%}
{% endblock %}

{% block content %}

<h4>Voit kutsua uusia käyttäjiä osakkaiksi veneeseen {{ current_boat.name}} avainkoodilla <strong>{{ current_boat.key }}</strong></h4>
<div class="accordion" id="accordionManageboat">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Muokkaa veneen tietoja
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionManageboat">
      <div class="accordion-body">
        
        <form action="/editboat" method="POST">
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">  
          <div class="form-group col-6">
            <label for="boat_name">Veneen nimi</label>        
            <input type="text" class="form-control" name="boat_name" id="boat_name" value="{{ current_boat.name }}" required>
          </div>
          <div class="form-group col-6">
            <label for="boat_type">Veneen tyyppi</label>        
            <input type="text" class="form-control" name="boat_type" id="boat_type" value="{{ current_boat.type }}" required>
          </div>
          <div class="form-group col-6">
            <label for="boat_year">Rakennusvuosi</label>        
            <input type="number" class="form-control" name="boat_year" id="boat_year" value="{{ current_boat.year }}" required>
          </div>
          <div class="form-group col-6">
            <label for="boat_description">Kuvaus</label>        
            <textarea class="form-control" rows="3" name="boat_description" id="boat_description">{{ current_boat.description }}</textarea>
            <p>
              <span id="charCount">0</span>/300 merkkiä
            </p>  
            <script 
              src="../static/js/charCount.js" 
              textField="boat_description" 
              charCount="charCount" 
              max="300">
            </script>
          </div>
          <div class="form-group col-6">
            <button type="submit" class="btn btn-primary">Tallenna muutokset</button>
          </div>
        </form>

        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Muokkaa veneen pääkäyttäjäoikeuksia
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionManageboat">
      <div class="accordion-body">
        
        <form action="/editboatadmins" method="POST">
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">  
          <div class="form-group col-6">
            <label for="users">Osakkaat</label>        
            <div class="form check form-switch">
              <input class="form-check-input" type="checkbox" name="user" id="user" value="{{ session.user.id }}" checked disabled>
              <label class="form-check-label" for="user">{{ session.user.first_name }} {{ session.user.last_name }}</label>
            </div>
            {% for owner in owners %}
            <div class="form check form-switch">
              <input class="form-check-input" type="checkbox" name="user" id="user" value="{{ owner.id }}" {% if owner.boat_admin == True %} checked {% endif %}>
              <label class="form-check-label" for="user">{{ owner.first_name }} {{ owner.last_name}}</label>
            </div>
            {% endfor %} 
          </div>
          <div class="form-group col-6">
            <button type="submit" class="btn btn-primary">Tallenna</button>
          </div>              
        </form>
      
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Muokkaa käyttöaikakertoimia
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionManageboat">
      <div class="accordion-body">
        
        <form action="/addcost" method="POST">
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">  
          <div class="form-group col-6">
            <label for="started_date">Päivämäärä</label>        
            <input type="datetime-local" class="form-control" name="start_date" id="start_date" required>
          </div>
          <div class="form-group col-6">
            <label for="boat_year">Summa</label>        
            <input type="number" step="0.01" class="form-control" name="amount" id="amount" required>
          </div>
          <div class="form-group col-6">
            <label for="cost_type">Kategoria</label>        
            <select class="form-select" name="cost_type" required>
              {% for type in cost_types%}
                <option value="{{ type.id }}">{{type.type }}</option>
              {% endfor%}
            </select>
          </div>
          <div>
          <label for="description">Kuvaus</label>        
            <input type="text" class="form-control" name="description" id="description" required>
          </div>
          <div class="form-group col-6">
            <button type="submit" class="btn btn-primary">Kirjaa</button>
          </div>    
        </form>
      
      </div>
    </div>
  </div>

    

</div>

  
{% endblock %}