{% extends "layout.html" %} 

{% block navitems %}
<li class="navbar-item">
  <a class="nav-link" href="/login">Kirjaudu</a>
</li>
<li class="navbar-item">
  <a class="nav-link" href="/register">Rekisteröidy</a>
</li>
{% endblock %}

{% block content %}
    <form action="/registeruser" method="POST">
      <div class="form-group col-6">
        <label for="username">Tunnus</label>        
        <input type="text" class="form-control" name="username" id="username" required>
      </div>
      <div class="form-group col-6">
        <label for="password">Salasana</label>        
        <input type="password" class="form-control" name="password" id="password" required>
      </div>
      <div class="form-group col-6">
        <label for="first_name">Etunimi</label>        
        <input type="text" class="form-control" name="first_name" id="first_name" required>
      </div>
      <div class="form-group col-6">
        <label for="last_name">Sukunimi</label>        
        <input type="text" class="form-control" name="last_name" id="last_name" required>
      </div>
      <div class="form-group col-6">
        <label for="last_name">Sähköposti</label>        
        <input type="email" class="form-control" name="email" id="email" required>
      </div>
      <div class="form-group col-6">
        <button type="submit" class="btn btn-primary">Luo käyttäjä</button>
      </div>  
    </form>
{% endblock %}

